<% if params[:top_rated] %>
<h1 class="text-center" sample center heading> Top Movies </h1>
  <%= render(partial: 'results', locals: {object: @movies})%>
<% else @movies %>
<h1 class="text-center" sample center heading> Search Results for <%=params[:title]%> </h1>
  <%=render(partial: './users/search_movie', locals: {user: @user})%>
  <%= render(partial: 'results', locals: {object: @movies})%>
<% end %>
