<div class='form-group'>
    <div class="container">
        <div class="row justify-content-center">
            <%= button_to 'View Top Rated Movies', "/users/#{@user.id}/movies", method: :get, params:{ top_rated: 'top_rated'} %>
        </div>
        <br>
        <div class="row justify-content-center">
            OR
        </div>
        <br>
    <%=render(partial: 'search_movie')%>
        </div>
    </div>
</div>