<div class='form-group'>
    <div class="container">
        <div class="row justify-content-center">
            <%= button_to 'View Top Rated Movies', "/users/#{@user.id}/movies", method: :get, params:{ top_rated: 'top_rated'} %>
        </div>
        <br>
        <div class="row justify-content-center">
            OR
        </div>
        <br>
    <%= form_with url: "/users/#{@user.id}/movies", local: true do |f| %>
        <div class="row justify-content-center">
            <div class="col-xs-4">
                <%= f.text_field :title, placeholder: "Search by Movie Title", class: "form-control" %>
            </div>
            <%= f.submit "Search", class: 'btn btn-success' %>
            <% end %>
        </div>
    </div>
</div>