<h1>Viewing Party Lite</h1>

<div class="container">
  <div class="row justify-content-center">
    <%= button_to "Create New User", '/register', method: :get %>
  </div>
  <div class = "row justify-content-center">
    <div class="registered">
      <% @users.each do |user| %>
        <p><%= link_to("#{user.email}'s Dashboard", user_path(user)) %></p>
      <% end %>
    </div>
  </div>
</div>